body{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    background-color: #f8fafc;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    padding-left: 80px;
    height: 600px;
    align-items: center;
}
.button-container{
  width: 15%;
  height: 500px;
  margin-right: 20px;
  margin-left: 20px;

}
.details-container{
    width: 70%;
    height: 500px;
    padding-left: 20px;
}
.btn{
    width: 100%;
    margin-top: 20px;
    height: 30px;
    border: none;
    background-color: #f8fafc;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}
.btn:hover, .btn.active{
    color: #14b8a6;
}
.details{
    padding: 0;
}